.MovieCard {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 10rem;
    margin: 0 .4rem;
}

.MovieCard:first-of-type {
    margin-left: 2rem;
}

.MovieCard:last-of-type {
    margin-right: 2rem;
}

.MovieCard__img_container{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.MovieCard__img{
    width: 100%;
}

.MovieCard__title_container{
    font-size: .7rem;
    text-align: center;
    color: #999;
    padding: 0 .5rem;
    overflow: hidden;
}

.MovieCard__title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
    margin-bottom: 5px;
}