.Navbar {
    background-color:#fff;
    padding: .6rem 1rem;
    color: #999;
    width: 100%;
    display: flex;
    align-items: center;
}

.Navbar__img_container {
    margin-right: 1.5rem;
}

.Navbar__img {
    width: 3.6rem;
}

.Navbar__item {
    display: flex;
    align-items: center;
}

.Navbar__iconBtn {
    display: flex;
    margin-left: auto;
}
